---
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";
import image from "./image.jpg";

interface Props extends HTMLAttributes<"div"> {}

const { class: className } = Astro.props;
---

<div class:list={[`max-w-3xl flex flex-col gap-8`, className]}>
  <Image src={image} alt={"Анна Шмитько"} class="rounded-sm" />
  <p class="font-serif text-2xl md:text-3xl font-thin">
    <slot />
  </p>
</div>
