---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
import Diamond from "./Diamond/Diamond.astro";

interface Props {
  title: string;
  features: string[];
  icon?: ImageMetadata;
}

const { title = "", features = [] } = Astro.props;
---

<section class="py-8 px-4 md:py-12 md:px-8  mx-auto">
  <div class="max-w-2xl mx-auto py-8">
    <div class="flex items-center gap-4 mb-8">
      <Diamond class="w-10 h-10 md:w-12 md:h-12" />
      <Heading level="h2">{title}</Heading>
    </div>

    <Text>
      <ul class="list-none p-0 m-0">
        {
          features.map((feature) => (
            <li class="flex items-baseline gap-3 mb-5 text-xl md:text-2xl">
              <span class="text-xl md:text-2xl flex-shrink-0">→</span>
              <span>{feature}</span>
            </li>
          ))
        }
      </ul>
    </Text>
  </div>
</section>
