---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"nav"> {}

const { class: className, ...props } = Astro.props;
---

<nav class:list={[className]} {...props}>
  <ul class="flex justify-center md:justify-start space-x-4 md:space-x-6">
    <li>
      <a href="/course/#about" class="hover:text-gray-600 transition-colors"
        >О курсе</a
      >
    </li>
    <li>
      <a href="/course/#schedule" class="hover:text-gray-600 transition-colors"
        >Программа</a
      >
    </li>
    <li>
      <a href="/course/#pricing" class="hover:text-gray-600 transition-colors"
        >Стоимость</a
      >
    </li>
    <li>
      <a href="/course/#faq" class="hover:text-gray-600 transition-colors"
        >FAQ</a
      >
    </li>
  </ul>
</nav>
