---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  type?: "default" | "narrow";
}

const { class: className, type = "default", ...props } = Astro.props;

const types = {
  default: "container mx-auto px-4 md:px-20 pt-4",
  narrow: "container mx-auto px-4 md:px-20 pt-4 max-w-4xl",
};
---

<section class:list={[className, types[type]]} {...props}>
  <slot />
</section>
