---
interface Props {
  tallyFormSrc?: string;
  height?: number | string;
  class?: string;
}

const {
  tallyFormSrc = "https://tally.so/embed/mZQDRB?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1",
  height = "767",
  class: className = "",
} = Astro.props;
---

<div class={`tally-form-container ${className}`}>
  <iframe
    data-tally-src={tallyFormSrc}
    loading="lazy"
    width="100%"
    height={height}
    title="Запись на курс мобильной фотографии Ани Шмитько"></iframe>
</div>

<script>
  // Extend Window interface to include Tally
  interface TallyInterface {
    loadEmbeds: () => void;
  }

  interface WindowWithTally extends Window {
    Tally?: TallyInterface;
  }

  // Check if Tally is already defined
  const windowWithTally = window as WindowWithTally;

  if (typeof window !== "undefined" && !windowWithTally.Tally) {
    // Create a script element
    const script = document.createElement("script");
    script.src = "https://tally.so/widgets/embed.js";
    script.onload = () => {
      // Load all embeds when the script has loaded
      if (windowWithTally.Tally) {
        windowWithTally.Tally.loadEmbeds();
      }
    };
    // Append the script to the document
    document.head.appendChild(script);
  } else if (typeof window !== "undefined" && windowWithTally.Tally) {
    // If Tally is already loaded, just load the embeds
    windowWithTally.Tally.loadEmbeds();
  }
</script>

