---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  size?: "xl" | "lg" | "md" | "sm";
}

const { class: className, size = "xl", ...props } = Astro.props;

const textSize = {
  xl: "text-xl",
  lg: "text-lg",
  md: "text-md",
  sm: "text-sm",
};
---

<div
  class:list={[
    "self-stretch justify-start font-normal font-sans leading-loose",
    textSize[size],
    className,
  ]}
  {...props}
>
  <slot />
</div>
