---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<header class={`sticky top-0 z-50 w-full bg-background shadow-lg ${className}`}>
  <div class="container mx-auto px-20 pt-4 pb-3 flex items-center justify-between rounded-sm">
    <div class="text-lg font-bold">
      <a href="/course" class="hover:opacity-80 transition-opacity"
        >@annashmitko</a
      >
    </div>

    <nav>
      <ul class="flex space-x-6">
        <li>
          <a href="#about" class="hover:text-gray-600 transition-colors"
            >О курсе</a
          >
        </li>
        <li>
          <a href="#schedule" class="hover:text-gray-600 transition-colors"
            >Программа</a
          >
        </li>
        <li>
          <a href="#pricing" class="hover:text-gray-600 transition-colors"
            >Стоимость</a
          >
        </li>
        <li>
          <a href="#faq" class="hover:text-gray-600 transition-colors">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
