---
import Icon from "./Icon/Icon.astro";
import TwoColumns from "./TwoColumns.astro";
import Heading from "./Heading.astro";
import Text from "./Text.astro";
interface Props {
  title: string;
}

const { title = "Как всё пройдёт" } = Astro.props;
---

<TwoColumns>
  <div class="flex items-center gap-3 md:gap-6" slot="left">
    <Icon icon="star" />
    <Heading level="h2">{title}</Heading>
  </div>
  <div class="px-3 pt-2 pb-3" slot="right">
    <Text class="flex flex-col gap-3 text-2xl">
      <slot />
    </Text>
  </div>
</TwoColumns>
