---
import Diamond from "./Diamond/Diamond.astro";

interface Props {
  title: string;
}

const { title = "Как всё пройдёт" } = Astro.props;
---

<section class="max-w-[1200px] mx-auto">
  <div
    class="self-stretch pl-14 pt-16 pb-12 inline-flex justify-start items-start gap-20"
  >
    <div class="flex justify-center items-center gap-8">
      <Diamond />
      <h2
        class="justify-start text-stone-200 text-5xl font-bold font-serif leading-[52px]"
      >
        {title}
      </h2>
    </div>
    <div
      class="px-3 pt-2 pb-3 rounded-xl inline-flex flex-col justify-center items-start gap-5 overflow-hidden"
    >
      <div class="justify-start text-2xl font-normal font-sans leading-9">
        <slot />
      </div>
    </div>
  </div>
</section>
