---
import CourseLayout from "../layouts/Course.astro";
import Hero from "../components/course/Hero.astro";
import FeaturesRow from "../components/course/FeaturesRow.astro";
import TwoColumnBlock from "../components/course/TwoColumnBlock.astro";
import CourseScheduleBlock from "../components/course/CourseScheduleBlock.astro";
import List from "../components/course/List.astro";

import heroImage from "./images/hero-1.jpg";
---

<CourseLayout title="Manual Focus mobile photography course by Anna Shmitko">
  <main>
    <Hero
      title="Ручной фокус"
      subtitle="курс о мобильной фотографии, наблюдении и памяти"
      image={heroImage}
      imageAlt="Фотограф с мобильным телефоном"
      startDate="Начинаем 16 мая."
    >
      <p>
        Привет, меня зовут Аня Шмитько. Я фотографка и режиссерка
        документального кино.
      </p>
      <p>Много лет я снимаю для медиа, социальных проектов, театра и кино.</p>
      <p>Последние десять лет я делаю это на телефон.</p>
      <p>
        Он всегда рядом со мной. Он не пугает окружающих. Он прост в съёмке.
      </p>
      <p>
        Это настолько классно, что я сделала курс о том, как снимать на телефон.
      </p>
      <p>
        5 недель. Онлайн-группа 10-12 человек. Теория (немного), практика
        (много), обсуждения и финальный проект.
      </p>
    </Hero>
  </main>
  <FeaturesRow
    title="Это курс про"
    features={[
      "Практику наблюдения",
      "Красоту повседневности",
      "Простые инструменты",
      "Хранение воспоминаний",
    ]}
  />
  <FeaturesRow
    title="Для кого этот курс"
    features={[
      "Для тех, кто любит снимать",
      "Тех, кто занимается соцсетями компании",
      "Для владельцев бизнеса, требующего постоянных фотографий",
      "Для жадных глазами",
    ]}
  />
  <FeaturesRow
    title="Кому курс не подойдет"
    features={[
      "Тем, кто хочет больше знать об истории фотографии",
      "Снимает на камеру и хочет улучшить навык работы с ней",
      "Любит технические данные фото больше, чем его содержание",
    ]}
  />

  <TwoColumnBlock title="Как всё пройдёт">
    <p>
      Мы будем встречаться раз в неделю, по субботам, в первой половине дня по
      европейскому времени.
    </p>
    <p>
      Это онлайн-встречи на 2 — 2,5 часа. В начале каждой мы немного поговорим о
      теории, а большую часть посвятим практике.
    </p>
    <p>Домашние задания с проверкой — будут.</p>
  </TwoColumnBlock>

  <div class="flex flex-col gap-24">
    <CourseScheduleBlock
      num="1"
      title="Введение в мобильную фотографию"
      date="16 мая, 11:00"
      image={heroImage}
    >
      <List
        items={[
          "Как работает камера телефона: свет, выдержка, диафрагма",
          "Портрет: типы, ракурсы",
          "Практика: автопортрет, знакомство с программами",
        ]}
      />
      <p>
        Домашнее задание: <br />
        3 портрета — домашний, рабочий, уличный
      </p>
    </CourseScheduleBlock>

    <CourseScheduleBlock
      num="2"
      title="Введение в мобильную фотографию"
      date="16 мая, 11:00"
      image={heroImage}
      align="reverse"
    >
      <List
        items={[
          "Как работает камера телефона: свет, выдержка, диафрагма",
          "Портрет: типы, ракурсы",
          "Практика: автопортрет, знакомство с программами",
        ]}
      />
      <p>
        Домашнее задание: <br />
        3 портрета — домашний, рабочий, уличный
      </p>
    </CourseScheduleBlock>
  </div>
</CourseLayout>
