---
import Layout from "../layouts/Layout.astro";
import { Content as Description } from "../content/description.md";
import { Content as Bio } from "../content/bio.md";
---

<Layout title="Anna Shmitko">
  <main class="container">
    <header class="header">
      <a
        class="title"
        href="https://www.instagram.com/annashmitko/"
        target="_blank"
        rel="noopener noreferrer"><h1>@annashmitko</h1></a
      >
      <div class="bio"><Bio /></div>
    </header>
    <div class="description">
      <Description />
    </div>
    <div class="desc">
      <div class="desc__heading">contact:</div>
      <div class="desc__contact">
        <a
          class="link"
          target="_blank"
          rel="noopener noreferrer"
          href="mailto:annashmitko@gmail.com">annashmitko@gmail.com</a
        ><br />
        <a
          class="link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.instagram.com/annashmitko/">instagram</a
        >
      </div>
    </div>
  </main>
</Layout>

<style is:inline>
  .container {
    max-width: 640px;
    margin: 0 auto;
  }

  .header {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
  }

  .bio {
  }

  .bio ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .description li {
    margin-bottom: 8px;
  }

  .description {
    padding-bottom: 20px;
  }

  .title {
    display: block;
    font-weight: 800;
    font-size: 24px;
    color: var(--heading-color);
    text-decoration: none;
    /* letter-spacing: 1px; */
  }
  .title h1 {
    margin: 0;
  }

  .desc {
    padding-bottom: 64px;
  }

  .links {
    padding-top: 15px;
  }
</style>
