---
import Layout from "../layouts/Layout.astro";
import { Content as Description } from "../content/description.md";
import { Content as Bio } from "../content/bio.md";
---

<Layout title="Anna Shmitko">
  <main class="container mx-auto px-3 mb-20 max-w-[640px]">
    <header
      class="flex flex-col md:flex-row align-center justify-between gap-1 mb-10 mt-12"
    >
      <a
        class="text-4xl font-bold text-black-600 mb-2"
        href="https://www.instagram.com/annashmitko/"
        target="_blank"
        rel="noopener noreferrer"
        ><div>@annashmitko</div>
      </a>
      <div class="prose prose-li:list-none prose-li:p-0 prose-li:m-0 leading-5">
        <Bio />
      </div>
    </header>
    <div class="flex flex-col gap-8 my-4">
      <a
        class="text-sm md:text-base w-full px-4 py-3 border-2 border-pink-700 rounded-lg flex items-center justify-between text-pink-700 font-semibold hover:border-pink-900 hover:text-pink-900 transition-colors"
        href="./course"
      >
        <span>Sign up for the course «Ручной фокус»</span>
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>

    <div
      class="prose
  prose-h1:font-bold prose-h1:text-xl
  prose-img:rounded-xl prose-li:list-decimal marker:text-gray-600
  mb-8"
    >
      <Description />
    </div>
    <div class="">
      <div class="text-black-600">contacts:</div>
      <div class="">
        <a
          class="text-pink-700 font-semibold"
          target="_blank"
          rel="noopener noreferrer"
          href="mailto:annashmitko@gmail.com">annashmitko@gmail.com</a
        ><br />
        <a
          class="text-pink-700 font-semibold"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.instagram.com/annashmitko/">instagram</a
        >
      </div>
    </div>
  </main>
</Layout>
