---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import {
  Content as Description,
  getHeadings as getDescriptionHeadings,
} from "../content/description-ph.md";
import { Content as Bio } from "../content/bio-ph.md";

const descriptionHeadings = getDescriptionHeadings();
---

<Layout title="Anna Shmitko">
  <header
    class="flex flex-col md:flex-row align-center justify-between gap-1 mb-10 mt-12 max-w-[640px] mx-auto md:ml-3 md:mr-0 lg:mx-auto px-3 lg:px-0"
  >
    <h1 class="text-4xl font-bold text-black-600 mb-2">Anna Shmitko</h1>
    <div
      class="prose prose-li:list-none prose-li:p-0 prose-li:m-0 leading-5"
    >
      <Bio />
    </div>
  </header>
  <div class="grid grid-cols-[1fr] md:grid-cols-[0_640px_1fr] lg:grid-cols-[1fr_640px_1fr] px-3">
    <div class="hidden md:block"></div>
    <main class="mb-20 max-w-[640px] mx-auto md:max-w-none md:mx-0">
      <div
        class="prose
  prose-h1:font-bold prose-h1:text-xl
  prose-h2:font-semibold prose-h2:text-xl prose-h2:mb-2 prose-h2:sticky prose-h2:top-0 md:prose-h2:top-auto prose-h2:z-20 prose-h2:bg-stone-100 prose-h2:pb-2 prose-h2:pt-1 prose-h2:scroll-mt-4
  prose-h3:font-medium prose-h3:text-base
  prose-a:text-gray-600 prose-a:underline prose-a:underline-offset-2 hover:prose-a:text-gray-900 prose-a:transition-colors
  prose-img:rounded-xl prose-li:list-decimal marker:text-gray-600
  mb-8"
      >
        <Description />
      </div>
      <div class="">
        <div class="text-black-600">contacts:</div>
        <div class="">
          <a
            class="text-pink-700 font-semibold"
            target="_blank"
            rel="noopener noreferrer"
            href="mailto:annashmitko@gmail.com">annashmitko@gmail.com</a
          ><br />
          <a
            class="text-pink-700 font-semibold"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.instagram.com/annashmitko/">instagram</a
          >
        </div>
      </div>
    </main>
    <div class="hidden md:block print:hidden sticky top-4 h-fit ml-8">
      <Sidebar headings={descriptionHeadings} />
    </div>
  </div>
</Layout>
