---
import Heading from "../../components/course/Heading.astro";
import Section from "../../components/course/Section.astro";
import TallyForm from "../../components/course/TallyForm.astro";
import Text from "../../components/course/Text.astro";
import Toolbar from "../../components/course/Toolbar.astro";
import CourseLayout from "../../layouts/Course.astro";
---

<CourseLayout
  title="Запись на курс — Ручной фокус — Анна Шмитько"
  description="Курс о мобильной фотографии, наблюдении и памяти"
  meta={{
    title: "Запись на курс — Ручной фокус",
    description: "Курс о мобильной фотографии, наблюдении и памяти",
  }}
>
  <Toolbar />
  <main>
    <Section>
      <Heading level="h1" class="text-center mt-12 mb-8"
        >Записаться на&nbsp;курс</Heading
      >

      <Text class="md:text-center mb-4">
        Заполните форму ниже, чтобы записаться на курс. <br /> Мы свяжемся с вами
        в течение 24-х&nbsp;часов и пришлем ссылку на оплату выбранным способом.
      </Text>
      <Text class="md:text-center mb-8" size="sm">
        Если вы хотите записаться на бесплатное место, пожалуйста, используйте
        <a href="/course/apply-free" class="text-primary underline">эту форму</a
        >.
      </Text>

      <div class="max-w-3xl mx-auto">
        <TallyForm
          id="mZQDRB"
          title="Запись на курс мобильной фотографии Ани Шмитько"
        />
      </div>
    </Section>
  </main>
</CourseLayout>
