---
import Heading from "../../components/course/Heading.astro";
import Section from "../../components/course/Section.astro";
import Text from "../../components/course/Text.astro";
import Toolbar from "../../components/course/Toolbar.astro";
import CourseLayout from "../../layouts/Course.astro";
import Button from "../../components/course/Button.astro";
---

<CourseLayout
  title="Спасибо за запись на курс — Ручной фокус — Анна Шмитько"
  description="Курс о мобильной фотографии, наблюдении и памяти"
  meta={{
    title: "Спасибо за запись на курс — Ручной фокус",
    description: "Курс о мобильной фотографии, наблюдении и памяти",
    noindex: true,
  }}
>
  <Toolbar />
  <main class="py-32 h-[calc(100vh-200px)]">
    <Section class="flex flex-col gap-8">
      <div class="flex flex-col">
        <Heading level="h1" class="text-center mb-8">Спасибо за запись!</Heading
        >

        <Text class="text-center max-w-2xl mx-auto mb-8">
          Ожидайте <strong>ссылку на оплату</strong>
          в течение 24-х часов. ✨
        </Text>
      </div>
      <div class="flex justify-center">
        <Button href="/course" text="Вернуться на главную" />
      </div>
    </Section>
  </main>
</CourseLayout>
