---
import Heading from "../../components/course/Heading.astro";
import Section from "../../components/course/Section.astro";
import Text from "../../components/course/Text.astro";
import Toolbar from "../../components/course/Toolbar.astro";
import CourseLayout from "../../layouts/Course.astro";
import Button from "../../components/course/Button.astro";
---

<CourseLayout title="Manual Focus mobile photography course by Anna Shmitko">
  <Toolbar />
  <main>
    <Section class="py-32">
      <Heading level="h1" class="text-center mb-8">Спасибо за запись!</Heading>

      <Text class="text-center max-w-2xl mx-auto mb-8">
        Мы свяжемся с вами в ближайшее время.
      </Text>

      <div class="flex justify-center">
        <Button href="/course" text="Вернуться на главную" />
      </div>
    </Section>
  </main>
</CourseLayout>
